<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style5.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home Page</a></li>
            <li><a href="/index2">Results Page</a></li>
            <li><a href="/signup">Sign-Up</a></li>
            <li><a href="/login">Log-In</a></li>
        </ul>
    </nav>

    <div class="mainHeader">
        <h1>B i s t F i t</h1>
    </div>

    <div class="container">

        <div id="header">
            <h2>Admin-Actions</h2>
        </div>
        <form action="/dropTables" method="post">
            <div id="dropTables">
                <button>Drop tables</button>
            </div>
        </form>
        <form action="/createTables" method="post">
            <div id="createTables">
                <button>Create tables</button>
            </div>
        </form>
        <form action="/insertGyms" method="post">
            <div id="insertGyms">
                <button>Insert Gym Data To DataBase</button>
            </div>
        </form>

    </div>

    <div class="middle">
        <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmYwNGNiOGJkNzFlMmU1ZDU0NjlhYjgyZmJiMDkwNWU5MzEwODI1NiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/J0ud3hmWcZAjPm4cwG/giphy.gif"
            width="200" height="200" alt="Animated GIF">
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <p>InCorrect Name Or Password </p>
        </div>
    </div>

    <script src="/script3.js"></script>

</body>

</html>