<!DOCTYPE html>
<html>

<head>
  <title>Results page</title>
  <link rel="stylesheet" type="text/css" href="/style2.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/index">Home Page</a></li>
      <li><a href="/index2">Results Page</a></li>
      <li><a href="/signup">Sign-Up</a></li>
      <li><a href="/login">Log-In</a></li>
    </ul>
  </nav>
  <div class="row1all">Results Page</div>
  <div></div>

  <div class="row2all">
    <h2>Suggested Calories Intake per Day: </h2>
    <p id="caloriesData" class="inputData">data from DB</p>
  </div>

  <div class="row3all">

    <div class="box3">
      <h2>Fat Amount per Day</h2>
      <p id="fatData" class="inputData">data from DB </p>
      <p id="fatFaq" class="inputFaq">data from DB </p>
    </div>

    <div class="box3">
      <h2>Protein Amount per Day</h2>
      <p id="proteinData" class="inputData">data from DB </p>
      <p id="proteinFaq" class="inputFaq">data from DB </p>
    </div>

    <div class="box3">
      <h2>Carbs Amount per Day</h2>
      <p id="carbsData" class="inputData">data from DB </p>
      <p id="carbsFaq" class="inputFaq">data from DB </p>
    </div>
  </div>

  <div class="row4header"> Nearest Gyms Around You:</div>
  <div class="row4all">

    <div class="box4">
      <h2>Gym 1</h2>
      <p>Address: </p>
      <p>Distance: </p>
      <p>Rating: </p>
    </div>

    <div class="box4">
      <h2>Gym 2</h2>
      <p>Address: </p>
      <p>Distance: </p>
      <p>Rating: </p>
    </div>

    <div class="box4">
      <h2>Gym 3</h2>
      <p>Address: </p>
      <p>Distance: </p>
      <p>Rating: </p>
    </div>
  </div>

  <div class="middle">
    <img
      src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmYwNGNiOGJkNzFlMmU1ZDU0NjlhYjgyZmJiMDkwNWU5MzEwODI1NiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/J0ud3hmWcZAjPm4cwG/giphy.gif"
      width="200" height="200" alt="Animated GIF">
  </div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close-btn">&times;</span>
      <p>Missing Or Invalid Data, Try Refilling The Form</p>
    </div>
  </div>

  <script src="/script.js"></script>

</body>

</html>