@font-face {
  font-family: summeryNotes;
  src: url('/AlfaSlabOne-Regular.ttf');
}

html {
  background: linear-gradient(-200deg, #99DBF5 10%, rgb(241, 241, 241) 90%);
  height: 92%;
  background-size: cover;
  text-align: center;
  font-family: summeryNotes;
  color: #025464;
}

.mainHeader {
  grid-area: row1all;
  font-size: 300%;
  margin-bottom: -220px;
}

/*grids*/
.container {
  font-size: 160%;
  margin-bottom: -100px;
  margin-top: 230px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-areas:
    'header'
    'row2 '
    'row3 '
    'row4'
    'row5'
    'button '
    'row6 ';
}

/*animation:*/
.middle {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.middle {
  position: relative;
  height: 30vh;
  margin-top: 140px;
}

.container {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#header {
  grid-area: header;
  font-size: 150%;
}

#row2 {
  grid-area: row2;
  text-align: center;
  font-family: summeryNotes
}


#row2 input:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: summeryNotes
}

#row3 {
  grid-area: row3;
}

#row3 input:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: summeryNotes
}

#row4 {
  grid-area: row4;
}

#row4 input:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: summeryNotes
}

#row5 {
  grid-area: row5;
}

#row5 input:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: summeryNotes
}

#signbutton button {
  font-size: 90%;
  margin-top: 10px;
  text-align: center;
  font-family: summeryNotes;
  background-color: rgb(240, 239, 239);
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border-color: transparent;
  color: #025464;
}

#signbutton button:hover {
  background-color: rgb(240, 239, 239);
  color: #ff8800;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 105%;
}

#signbutton {
  grid-area: loginButton;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(128, 128, 128, 0.2);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  padding-bottom: 15px;
  font-size: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ff8800;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: xx-large;
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  z-index: 10000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}